#profileCard {
  width: 250px;
  padding: 20px ;
  border: 2px solid black;
  margin: auto;
  background-color: #ADD8E6;
}

.Alex{
  font-size: 12px;
  font-weight: ________;
  text-align: center;
}

.Rod{
  font-size: 12px;
  color: ________;
  text-align: center;
}


