#profileCard {
  width: 250px;
  padding: 20px ;
  border: 2px solid black;
  margin: auto;
  background-color: #ADD8E6;
}

._________ {
  font-size: ________;
  font-weight: ________;
  text-align: center;
}

._________ {
  font-size: ________;
  color: ________;
  text-align: center;
}


