#profileCard {
  width: 250px;
  padding: 20px ;
  border: 2px solid black;
  margin: auto;
  background-color: #ADD8E6;
}

.Alex{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.Rod{
  font-size: 12px;
  color: #000000;
  text-align: center;
}

img {
  width: 250px;
  border-radius: 15px;
}

#profileCard:hover {
  background-color: #00008B;
}



